# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
data/
models/
embeddings/
*.db
*.sqlite
*.sqlite3
*.pkl
*.bin
logs/
temp/


# Faiss index files
faiss_index/

#env

.env